@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.skill {

  @include flex('', center, column, '', 10px);
  text-align: center;
  padding: 20px;

  .icon {
    border-radius: 50%;
    background-color: #12141c;
    width: 110px;
    height: 110px;
    transition: all 500ms;
    @include flex(center, center, '', '', '');

    img {
      height: 50px;
      transition: all 500ms;
    }
  }

  .icon:hover {
    box-shadow: 1px 1px 10px gray;
  }

  .icon:hover > img {
    transform: scale(1.2);
  }

  .technologyName {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: $textColor;
    width: 200px;
  }
}

@media screen and (max-width: 625px) {

  .skill {
    width: 49%;

    .icon {
      width: 90px;
      height: 90px;
    }

    .technologyName {
      margin: 0;
      font-family: 'Rubik', sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      color: $textColor;
    }
  }
}