@import './sass/variables.scss';
@import './sass/mixins.scss';

.button {
    margin-top: 10px;
    border: none;
    width: 80px;
    height: 35px;
    background-color: $primaryColor;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: $textColor;
    transition: all 0.5s ease;
    cursor: pointer
}
.button:hover {
    background-color: #ea3a61;
    transform: translateY(-10px);
}