.mainBlock {
    padding: 50px 0 50px 0;
    min-height: 100vh;
    background-color: lightcoral;
}
.greeting {
    width: 327px;
    background-color: lightgrey;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: gray;
}
.photo img {
    width: 100%;
    height: auto;
}