.project {
    width: 400px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
.projectImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    /*background-image: url("/src/assets/todolist-photo.jpg");*/
    background-color: orangered;
    background-size: cover;
    background-position: center;
    /*background-size: cover;*/
}
.button {

}
.aboutProject {
    display: flex;
    flex-direction: column;
}
.projectName {
    background-color: lavender;
    width: 150px;
    margin: 10px;
}
.projectDescription {
    background-color: lavender;
    /*width: 150px;*/
    margin: 10px;
}



