.project {
    width: 500px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}
.projectImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: moccasin;
}
.description {
    display: flex;
    flex-direction: column;
}
.description h4 {
    background-color: lavender;
    width: 150px;
    margin: 10px;
}
.description div {
    background-color: lavender;
    /*width: 150px;*/
    margin: 10px;
}



