@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.burgerNav {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 100%;

  .burgerNavItems {
    height: 170px;
    position: absolute;
    padding-left: 30px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $bgSecondColor;
    text-align: left;
    @include flex(center, start, column, '', 10px);
    transform: translate(0, -150px);
    transition: 0.3s;

    a {
      font-family: $fontFamily;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: #dfdfdf;
      cursor: pointer;

      &:hover {
        color: $primaryColor;
      }
    }

    .active {
      font-family: $fontFamily;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: $primaryColor;
    }
  }

  .show {
    transform: translate(0, 0);
  }

  .burgerButton {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: $primaryColor;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 530px) {
    display: none;
  }
}

