@import './src/common/styles/sass/mixins';
@import './src/common/styles/sass/variables';

.header {
    width: 100%;
    z-index: 2;
    position: fixed;
    height: 60px;
    background-color: $bgSecondColor;
    @include flex(flex-end, center, '', '', '');
}