@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.nav {
  border: 1px solid;
  @include flex(flex-end, center, row-reverse, '', '');
  width: 300px;

  .navContainer {
    @include flex(flex-end, center, '', '', 30px);

    a {
      font-family: $fontFamily;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      color: #dfdfdf;
    }
  }

  a {
    text-decoration: none;
    color: $textColor;
  }
}
